@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
	--primary: #191919;
	--secondary: #2D4263;
	--accent: #C84B31;
	--accent2: #ECDBBA;
	--text-color: #f8f8f8;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--text-color)
}

body {
	background-color: var(--primary);
	font-family: "Poppins";
}


 
main {
	padding: 10px 2%;
	background-color: transparent;
}

button {
	background-color: transparent;
	color: var(--accent);
	padding: 10px;
	border: 2px solid var(--accent);
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
}


header {
	background-image: linear-gradient(var(--secondary), var(--primary));
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
}

.error{
	color: var(--accent2);
	font-size: 90%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0rem 1.5rem;
}

nav li, nav a {
	font-weight: 400;
	font-size: 20px;
	color: var(--text-color);
	text-decoration: none;
}

nav a {
	padding: 0.6rem 0.6rem;   
}

img {
	width: 100%;
	height: 100%;
}

.logo {
	margin-left: 10px;
	height: 70px;
}

.nav-links , .nav-profile{
	list-style: none;
}

input, textarea {
	background-color: transparent;
	border: 1px solid var(--accent);
	border-radius: 4px;
	padding: 4px 6px;
}

select {
	background: transparent;
	overflow: hidden;
	border: 1px solid var(--accent);
	border-radius: 4px;
	padding: 10px;
}

option {
	font-size: medium;
}

.centerer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario-pelicula img {
	height: 400px;
	width: auto;
}

.formulario-login, .formulario-register, .formulario-pelicula {
	padding: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	border: 2px solid var(--accent);
	gap: 10px;
}

.formulario-login input, .formulario-register input {
	background-color: transparent;
	font-size: large;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid var(--accent);
	padding: 4px 6px;
}

.formulario-login input:focus {
	outline: none;
	background: #ECDBBA22;
}

.seccion-valoraciones {
	width: 400px;
	margin-bottom: 30px;
}

.valoracion, .seccion-comentarios {
	margin: 10px 0;
}

.comentarios-respuesta li {
	margin-left: 40px;
}


.seccion-comentarios {
	width: 400px;
}



.seccion-comentarios ul, .seccion-comentarios li {
	list-style-type: none;
}

.deshabilitado {
	pointer-events: none;
	text-decoration: none;
	cursor: default;
}

.info-peli {
	margin-bottom: 30px;
}

.info-generos{
	display:flex;
	flex-direction: column;
	align-items: flex-end;
}

.nav-profile li{
	display: inline-block;
	padding: 0rem 0.6rem;
}

#formLogout {
	width: fit-content;
}

.nav-links li {
	display: inline-block;
	padding: 0rem 0.6rem;
}

.user-list {
	display: flex;
	gap: 20px;
	padding: 10px 0px;
}

.user-card {
	width: 160px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 20px 10px;
}

fieldset {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 10px 20px;
}

form input, form button{
	width: fit-content;
}

select {
	height: fit-content;
}

.row-pelis {
	display: flex;
	overflow: auto;
}

.scroll-pelis {
	display:flex;
	margin: 0rem 0.5rem;
	padding: 0.5rem 0rem;
	gap: 0.5rem;
}

.portada-peli {
	height: auto;
	width: 200px;
}

.portada-elemento-carrito {
	height: auto;
	width: 100px;
}

form div img {
	width: 200px;
	height: auto;
}

.portada-peli img{
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
}

.portada-peli img {
	filter: brightness(80%);
	border: 0px solid var(--accent);
	transition: 0.6s cubic-bezier(.12,.97,.72,1);
}

.portada-peli img:hover {
	transform: scale(1.05);
	filter: brightness(100%);
	transition: 0.6s cubic-bezier(.12,.97,.72,1);
}
