* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: lightgray;
}

main {
	padding: 10px 2%;
	background-color: transparent;
}

header {
	background-image: linear-gradient(#1b1b1b, #3a3a3a);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0rem 1.5rem;
}

nav li, nav a {
	font-weight: 400;
	font-size: 20px;
	color: white;
	text-decoration: none;
 
}

nav a {
	padding: 0.6rem 0.6rem;   
}

img {
	width: 100%;
	height: 100%;
}

.logo {
	margin-left: 10px;
	height: 70px;
}

.nav-links , .nav-profile{
	list-style: none;
}


.nav-profile li{
	display: inline-block;
	padding: 0rem 0.6rem;
}

.nav-links li {
	display: inline-block;
	padding: 0rem 0.6rem;
}

.user-list {
	display: flex;
	gap: 20px;
	padding: 10px 0px;
}

.user-card {
	width: 160px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 20px 10px;
}

fieldset {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 10px 20px;
}

form input, form button{
	width: fit-content;
}

select {
	height: fit-content;
}

.row-pelis {
	display: flex;
	overflow: auto;
}

.scroll-pelis {
	display:flex;
	margin: 0rem 0.5rem;
	padding: 0.5rem 0rem;
	gap: 0.5rem;
}

.portada-peli {
	height: auto;
	width: 200px;
}

form div img {
	width: 200px;
	height: auto;
}

.portada-peli img{
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
}

.portada-peli img {
	filter: brightness(80%);
	border: 0px solid white;
	transition: 0.6s cubic-bezier(.12,.97,.72,1);
}

.portada-peli img:hover {
	transform: scale(1.05);
	filter: brightness(100%);
	transition: 0.6s cubic-bezier(.12,.97,.72,1);
}
