* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

main {
    padding: 10px 2%;
    background-color: transparent;
}

header {
    background-image: linear-gradient(#1b1b1b, #3a3a3a);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
}

header li, header a {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.portada-peli {
    height: auto;
    width: 200px;
}

.logo {
    height: 70px;
}

.nav-links {
    list-style: none;
}

.nav-profile {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.user-list {
    display: flex;
    gap: 20px;
    padding: 10px 0px;
}

.user-card {
    /* Se necesita inner padding. hay que hacer otro div dentro???*/
    width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px 20px;
}

form input, form button{
    width: fit-content;
}

select {
    height: fit-content;
}

